<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mock Amazon Login</title>
<!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
	<div>
	<h1>Mock Amazon Login Page</h1>
	<form class="col-sm-4" th:action="@{/process}" th:object="${amazonUser}" method="post">
		<div>
			<label for="username">Username</label>
			<input class="form-control" type="text" th:field="*{username}"/>
		</div>
		<div>
			<label for="password">Password</label>
			<input class="form-control" type="password" th:field="*{password}"/>
		</div>
		<br/>
		<div>
			<input class="btn btn-primary" type="submit" value="Login"/>
		</div>
	</form>
	</div>
	</div>
</body>
</html>